.cta {
    padding: 100px 0;
    text-align: center;
}

.cta_plate {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 116px 262px;
    border-radius: 60px;
    background: #fff;
}

.cta_plate::before,
.cta_plate::after {
    position: absolute;
    width: 63px;
    height: 83px;
}

.cta_plate::before {
    content: url('../img/cta/cta-el-01.svg');
    top: 74px;
    right: 80px;
}

.cta_plate::after {
    content: url('../img/cta/cta-el-02.svg');
    bottom: 56px;
    left: 74px;
}

.cta__title {
    margin-bottom: 30px;
}

.cta__text {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: var(--secondary);
}

.cta__btn {
    padding: 24px 54px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

@media (max-width : 1200px) {

    .cta_plate {
        padding: 116px 150px;
    }
}

@media (max-width: 850px) {

    .cta {
        padding: 50px 0;
    }

    .cta_plate {
        padding: 100px 80px;
        border-radius: 40px;
    }

    .cta__title {
        margin-bottom: 20px;
    }

    .cta__text {
        margin-bottom: 30px;
        font-size: 25px;
        line-height: 37px;
    }

    .cta__btn {
        padding: 20px 35px;
        font-size: 18px;
        border-radius: 20px;
    }

    .cta_plate::before {
        top: 30px;
        right: 30px;
    }

    .cta_plate::after {
        bottom: 30px;
        left: 30px;
    }
}

@media (max-width: 420px) {

    .cta {
        padding: 20px 0;
    }

    .cta_plate {
        padding: 80px 30px;
    }

    .cta__title {
        font-size: 24px;
        line-height: 36px;
    }

    .cta__text {
        font-size: 18px;
        line-height: 27px;
    }
}