
.customers__row {
    padding: 100px 0 133px;
    display: flex;
    column-gap: 68px;
}

.customers__img {
    max-width: 478px;
}

.customers__img img {
    border-radius: 60px;
}

.customers__title {
    margin-bottom: 35px;
}

.review {
    max-width: 491px;
}

.review__client {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    column-gap: 33px;
}

.review__client--avatar {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: #FFAA99;
    overflow: hidden;
}

.review__client--name {
    font-weight: 500;
    font-size: 33px;
    line-height: 50px;
}

.review__client--country {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: var(--secondary);
}

.review__text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: var(--secondary);
}

@media (max-width: 850px) {

    .customers__row {
        padding: 50px 0 60px;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

    .customers__title {
        margin-bottom: 25px;
    }

    .review__client {
        margin-bottom: 30px;
        column-gap: 20px;
    }

    .review__client--avatar {
        width: 80px;
        height: 80px;
    }

    .review__client--name {
        font-size: 23px;
        line-height: 35px;
    }

    .review__client--country {
        font-size: 18px;
        line-height: 27px;
    }

    .review__text {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 27px;
    }

    .review__rating {
        max-width: 200px;
    }
}

@media (max-width: 420px) {

    .customers__row {
        padding: 20px 0;
    }
}