.header {
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}

.header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url('../img/header/bg-bottom.svg');
    background-size: 100%;
}

.header a {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.header__top {
    position: relative;
    margin-bottom: 86px;
    z-index: 2;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 603px;
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.logo__link {
    color: #fff;
}

.nav-list {
    display: flex;
    gap: 80px;
}

.nav-list a {
    transition: all .3s ease-in;
}

.nav-list a.active,
.nav-list a:hover {
    position: relative;
}

.nav-list a.active::after,
.nav-list a:hover::after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    left: 0;
    bottom: -6px;
    height: 4px;
    background: #C4C4C4;
    border-radius: 100px;
}

.nav-login {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-login a {
    transition: all .3s ease-in;
}

.header__badge {
    display: inline-block;
    margin-bottom: 7px;
    padding: 11px 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
}

.header__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
}

.header__text {
    max-width: 519px;
    margin-bottom: 68px;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: rgba(255, 255, 255, .5);
}

.header__btn {
    padding: 26px 48px;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img{
    position: absolute;
    top: -181px;
    right: -87px;
    max-width: unset;
    width: 894px;
    height: 940px;
}